// Mixins in here
.flex-row(@justify, @align) {
    display: flex;
    flex-flow: row wrap;
    justify-content: @justify;
    align-items: @align;
}

.sign-button(@text-color, @bg-color) {
    border-radius: 15px;
    background: @bg-color;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    padding: 1rem;
    color: @text-color;
    border: 1px solid @navigation-border;
}